@{
    Layout = null;
}

<style>
    @@font-face {
        font-family: 'IRansans';
        font-style: normal;
        font-weight: 900;
        src: url('/wwwroot/swagger-ui/fonts/IRANSansWeb.eot');
        src: url('/wwwroot/swagger-ui/fonts/IRANSansWeb.woff2') format('woff2'), url('/wwwroot/swagger-ui/fonts/IRANSansWeb.woff') format('woff'), url('/wwwroot/swagger-ui/fonts/IRANSansWeb.ttf') format('truetype');
    }
</style>
<body dir="rtl" style="display: flex; justify-content: center; align-items: center;background-color: #f6f6f6; font-family: 'IRansans'; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; visibility: hidden; width: 0;">فعالسازی حساب | Shoppy</span>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; background-color: #f6f6f6; width: 100%;" width="100%" bgcolor="#f6f6f6">
        <tr>
            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
            <td class="container" style="font-family: 'IRansans'; font-size: 14px; vertical-align: top; display: block; max-width: 580px; padding: 10px; width: 580px; margin: 0 auto;" width="580" valign="top">
                <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;">

                    <table role="presentation" class="main" style="border-collapse: separate; background: #ffffff; border-radius: 3px; width: 100%;" width="100%">

                        <tr>
                            <td class="wrapper" style="font-family: 'IRansans'; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;" valign="top">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; width: 100%;" width="100%">
                                    <tr>
                                        <td style="font-family: 'IRansans'; font-size: 14px; vertical-align: top;" valign="top">
                                            <p style="font-family: 'IRansans'; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">کاربر عزیز !</p>
                                            <p style="font-family: 'IRansans'; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">به سایت Shoppy خوش آمدید</p>
                                            <p style="font-family: 'IRansans'; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">حساب کاربری شما با موفقیت ساخته شد</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                    <div class="footer" style="clear: both; margin-top: 10px; text-align: center; width: 100%;">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; width: 100%;" width="100%">
                            <tr>
                                <td class="content-block powered-by" style="font-family: 'IRansans'; vertical-align: top; padding-bottom: 10px; padding-top: 10px; color: #999999; font-size: 12px; text-align: center;" valign="top" align="center">
                                    پشتیبانی سایت <a href="https://localhost:5001" style="color: #15c; font-size: 12px; text-align: center; text-decoration: none;">Ad Zone</a> .
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </td>
            <td style="font-family: 'IRansans'; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
        </tr>
    </table>
</body>